# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment & Local
.env
.venv
env/
venv/
ENV/

# OS specific
.DS_Store
Thumbs.db

scratch/

